.button-container {
  width: 20%;
  margin-top: 40px;

  height: 10vh;
}

.button {
  width: 40%;
  max-width: 150px;
  cursor: pointer;
  background: #72c426;
  border: 0;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-top: 16px;
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  transition: filter 0.4s;
  margin-top: 0px;
  margin-left: 20px;
  height: 45px;
}

.button:hover {
  filter: brightness(90%);
}
